
html {
    box-sizing: inherit;
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
} 

.announcement {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 200px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: -0.035em;

    /* Gray 1 */

    color: #333333;
}

.img {
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
    width: 539px;
    height: 447px;
}

.description {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 400px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;

}

.back-to-home {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 572px;

    /* Gray 1 */

    background: #333333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media screen and (max-width: 376px) {
    .img {
        position: absolute;
        left: 11.73%;
        right: 11.78%;
        top: 11.49%;
        bottom: 63.44%;
        width: 287px;
        height: 238px;
        object-fit: cover;
    }

    .header {
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;

        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;

        color: #333333;
    }
    .announcement {
        position: absolute;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;

        /* Gray 1 */

        color: #333333;
    }
    .description {
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;

        /* Gray 2 */

        color: #4F4F4F;
    }

    .back-to-home {
        position: absolute;
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
        background: #333333;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;

        letter-spacing: -0.035em;
        text-transform: uppercase;

        color: #FFFFFF; 
    }
}